.grid {
  height:400px;
  width:400px;
  display:flex;
  flex-wrap: wrap;
  background-color: #dcd6bc;
  border: 10px solid #dcd6bc;
}

.grid div {
  height:40px;
  width:40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}


.visited {
  background-color: grey;
}

.visited.bomb {
  background-color: red;;
}

.flag {
  background-image: url('images/flag.png');
  background-size: 100% 100%;
}

.bomb.blast {
  background-image: url('images/bomb.jpg');
  background-size: 100% 100%;
}